html{
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-color: rgba(64, 115, 139, 0.719);
}
header{
    color: white;
    text-align: center;
}
section{
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.158);
}
footer{
    font-style: italic;
    color: white;
    text-align: center;
}