@charset "UTF-8";
body{
    background-color: rgba(100, 88, 33, 0.788);
    font: normal 15pt Arial;
}
header{
 text-align: center;
 color: white;
}
section{
border-radius: 10px;
 width: 600px;
 margin: auto;
 background-color: white;
 height: 500px;
 padding: 15px;
 box-sizing: border-box;
 box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.301);
}
.cima{
 text-align: center;
 margin-bottom: 50px;
}
.baixo{
    text-align: center;
}
img{
 border-radius: 50%;
 width: 300px;
}
footer{
 text-align: center;
 color: white;
}